{{ attach_library('paragraph_premo_tcm_latest/paragraph_premo_tcm_latest') }}

<div class='paragraph_premo_tcm_latest' >

	<div class='section_title' >
		Check out what's new on TCM!
	</div>

	<div class='latest_six' >

	</div>

</div>
